PGHOST=db.SEUPROJETO.supabase.co
PGPORT=5432
PGDATABASE=postgres
PGUSER=postgres
PGPASSWORD=SUA_SENHA_DO_BANCO
PGSSLMODE=require
CONSULTA_SECRET_KEY=TROQUE_POR_UMA_CHAVE_GRANDE_ALEATORIA
CONSULTA_ALLOW_DEV_LOGIN=0
